
html {
	background-image: linear-gradient(45deg, #3498db, #9b59b6);
    background-position: bottom;
    background-repeat: no-repeat;
	background-size: cover;
	font-family: "Gill Sans", sans-serif;
    height: 200vh;
}
p {
	border-radius: 40px;
	background-color: white;
	box-shadow: 0 0 10px 0;
	height: 100px;
	width: 380px;
	margin: 60px auto;
	padding: 40px;
	line-height: 20px;
	font-size: 1.1em;
}

p a {
	text-decoration: none;
	font-family: cursive;
	color: darkgreen;
}
nav {
	margin: 0 auto;
	max-width: 500px;
}
ul {
	margin: auto;
	display: flex;
	/*margin: 20vh 0;*/
	padding: 0;
	flex-wrap: wrap;
	list-style: none;
	justify-content: space-between;
	align-content: space-around;
	align-self: center;
}
nav a {
	color: inherit;
	background-color: rgb(255, 255, 255);
	text-decoration: none;
	box-shadow: 0 0 20px 0;
	border-radius: 50%;
	height: 200px;
	width: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px;
	transition: background-color .2s ease-in, 
				letter-spacing .2s ease-in;
}

li {
	text-align: center;
	font-size: 25px;
	color: black;
}

nav a:hover {
	background-color: rgba(255, 255, 255, 0.7);
	letter-spacing: 1px;
}

@media (max-device-width: 500px), (max-width: 500px) {
	ul {
		flex-direction: column;
	}

	p {
		height: auto;
		width: 40%;
	}
}