html {
    /*
    background-image: url(https://images.unsplash.com/photo-1553034545-32d4cd2168f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80);
    */
    background-image: linear-gradient(45deg, #3498db, #9b59b6);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200vh;
}

#todo-list {
    width: 90%;
    max-width: 800px;
    margin: 20vh auto;
    font-family: "Gill Sans", sans-serif;
    /*background-color: rgb(173, 216, 230);*/
    background-color: white;
    box-shadow: 0 0 20px 0;
}

h1 {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    font-size: 2em;
    padding: 40px;

}

.entry_form {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}

.entry_form input {
    border-radius: 40px;
    font-size: calc(16px + .5vw);
    width: 50%;
    padding: 10px;
    font-family: cursive;
    background-color: inherit;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.entry_form input:focus, .entry_form input:hover {
    outline: none;
    background-color: rgb(201, 222, 230);
}

.entry_form button {
    border: 0;
    font-size: 3em;
    color: darkgreen;
    background-color: inherit;
    
}

.entry_form button:focus, .entry_form button:hover {
    outline: none;
    color: rgba(0, 100, 0, 0.4);
}
.todo_list {
    display: flex;
    /*box-shadow: 1px 1px 5px 0px;*/
    list-style: none;
    flex-direction: column;
	justify-items: center;
    margin: 0 auto;
    padding: 0;
}


.todo_list list-item {
    padding: 5px;
    border-radius: 40px;
    width: 90%;
    margin: 0 auto;
    font-size: 20px;
    transition: font-size .4s ease-out;
}

.todo_list list-item label {
    display: inline-block;
    width: 85%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.todo_list list-item label:hover {
    text-overflow: '';
    white-space: nowrap;
    overflow: scroll;
}

.todo_list list-item:hover {
    font-size: 21px;
}

@media (max-device-width: 500px), (max-width: 500px) {

    html {
        background: unset;
        height: unset;
    }
    #todo-list {
        max-width: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        box-shadow: none;
        transition: none;
        font-size: 20px;
    }
    .todo_List list-item {
        text-overflow: unset;
        white-space: unset;
        overflow: unset;
    }
}