<!doctype html>
<html>
	<head>
		<meta name="viewport">
		<title>todo-app</title>
		<link href="style.css" rel="stylesheet" />
		<script src="script.js" type="module"></script>
	</head>
	<body>
		<section id="ToDoApp">
			<form class="entry_form" v-on:submit.prevent="addItem">
				<input ref="itemInput" v-model="newItemValue" autofocus />
				<button type="submit">Add Item</button>
			</form>
			<ul class=todo_list>
				<li v-for="(item, index) in items" v-bind:class="{ completed: item.completed }">
					<label>
						{{ item.text }}
						<button class="complete_button" v-on:click="toggleItem(index)">√</button>
					</label>
					<button class="delete_button" v-on:click="removeItem(index)">x</button>
				</li>
			</ul>
		</section>
	</body>
</html>
