<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link href="https://unpkg.com/normalize.css" rel="stylesheet" />
		<title>todo-app</title>
		<link href="style.css" rel="stylesheet" />
		<script src="script.js" type="module"></script>
	</head>
	<body>
		<section id="todo-list">
			<h1>Vue To-dos:</h1>
			<ul class=todo_list>
				<li v-for="(item, index) in items" :class="{ completed: item.completed }">
					<label>
						<button class="complete_button" v-on:click="toggleItem(index)">✓</button>
						{{ item.text }}
					</label>
					<button class="delete_button" v-on:click="removeItem(index)">×</button>
				</li>
			</ul>
			<form class="entry_form" v-on:submit.prevent="addItem">
					<input :autofocus="inputFocus" :placeholder="placeholder" ref="itemInput" v-model="newItemValue" />
					<button type="submit">➣</button>
			</form>
		</section>
	</body>
</html>
