html {
	padding: 10px;
}

h1 {
	text-align: center;
	font-family: "Gill Sans", sans-serif;
	padding: 20px;
	margin: 20px 20px 0 20px;
}

form {
	display: flex;
	flex-direction: column;
	max-width: 80%;
	margin: 0 auto;
	padding: 20px;
	font-family: cursive;
	align-items: center;
}


.type_item {
	background-color: #84b9e67c;
	display: block;
	border: 2px solid #000;
	border-radius: 20px;
	padding: 5px;
	min-width: 150px;
	width: 40%;
	height: 30px;
	font-family: cursive;
	font-size: 2em;
	margin: 20px;
	text-align: center;
}

.add_item {
	display: block;
	border: 2px solid #000;
	border-radius: 20px;
	background-color: #84b9e67c;
	width: 100px;
	font-family: cursive;
	font-size: 1em;
	padding: 5px
}

.add_item:focus, form input:focus {
	outline: none;
	background-color: #83b4c0;
}

::placeholder {
	font-size: .75em;
}

h2 {
	font-family: cursive;
	font-size: 2em;
	text-align: center;
	margin: 20px auto;

}

.todo_list {
	border-radius: 20px;
	box-shadow: 0 0 10px 1px;
	min-height: 40px;
	display: flex;
	flex-direction: column;
	width: 600px;
	max-width: 80%;
	font-family: "Gill Sans", sans-serif;
	justify-items: center;
	margin: 0 auto;
}

li {
	flex-wrap: wrap;
	margin: auto 0;
	font-size: 1.5em;
	border-radius: 20px;
	padding-left: 10px;
}

.todo_list {
	background-color: #e084937c;
}


.complete {
	text-decoration: line-through;
	opacity: 0.4;
}




button {
	transition: background-color .5s ease;

}

button:hover {
	background-color: #84b9e67c;
}

.comp_button {
	color: green;
}

.comp_button, .del_button {
	border-radius: 100%;
	box-shadow: 0 0 5px #000;
	margin: 0 0 0 15px;
}

.comp_button:focus, .del_button:focus {
	outline: none;
	background-color: #84b9e67c;
}

.del_button {
	color: red;
}
